.blocked-word-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
}

.blocked-word-item:hover {
  background-color: rgba(137, 137, 137, 0.1);
}

.blocked-word-item .blocked-word-item-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.blocked-word-item .blocked-word-item-left .blocked-word-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px;
}

.blocked-word-item > .clear {
  margin-left: 8px;
  cursor: pointer;
  font-size: 12px;
  padding: 2px;
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.blocked-word-item > .clear:hover {
  color: var(--w-brand);
}

@media screen and (max-width: 1319px) {
  .blocked-word-item .blocked-word-item-left .blocked-word-text {
    max-width: 200px;
  }
}
